* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Jost', sans-serif;
}

header {
  margin: 50px;
}

aside {
  min-height: 700px;
}

section {
  margin: 50px;
}

.colors {
  width: auto;
  height: 100px;
}

.colors p {
  padding: 20px;
}

.scrollbar
{
  height: 700px;
  float: left;
  background: #F5F5F5;
  overflow-y: scroll;
}

.img-container {
  min-height: 700px;
  margin-left: 80px;
  padding: 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-img {
  width: auto;
  height: 200px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#style-2::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar
{
  width: 12px;
  background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #F5F5F5;
}

/********Media Queries********/
@media screen and (max-width: 900px) {
  .img-container {
    margin-left: 0;
    margin-top: 50px;
  }
}
